button,
.btn{
    width: scale(165px);
    min-height: scale(40px);
    border-radius: scale(10.5px);
    background-image: linear-gradient(to bottom, var(--baby-blue-two), var(--pastel-blue));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
    border: 0;
    cursor: pointer;
    @extend .font-btn;  
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;

    &-2{
        @extend .btn;
        box-shadow: 0 scale(1.5px) scale(3px) 0 var(--black-16);
        border: solid scale(0.5px) var(--white-fifteen);
        background: var(--white);  
        color: var(--pastel-blue);
        @extend .font-btn-2;  
    }
    &-3{
        @extend .btn;
        border: solid 2px var(--pastel-blue);
        background: transparent;
        color: var(--pastel-blue);
    }
    &-rs{
        @extend .btn;
        width: scale(238.5px);
        text-align: center;
        justify-content: space-between;
        padding-left: 23px;
        padding-right: 33px;
    }
    &-google{
        @extend .btn-rs;
        background: var(--white);
        color: var(--brownish-grey-three);
    }
    &-facebook{
        @extend .btn-rs;
        background: var(--white); 
        background-color: var(--french-blue);
    }
    &-correo{
        @extend .btn-rs;
        background: var(--white-ten);
        color: var(--greyish-brown-three);
    }
    &-link{
        @extend .font;  
        font-size: getRemSize(14px);
        font-weight: 600;
        line-height: 1.43;
        letter-spacing: 0.56px;
        color: var(--black-four);
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: scale(8px) 0;
        margin-bottom: 10px;
        &.iconSizeVar{
            .btn-link-icon{
                width: var(--iconSize);
            }
        }
        &-icon{
            width: scale(17px);
            margin-right: 15px;
            fill:red;
        }
        &.active.active{
            background-image: linear-gradient(to bottom, var(--baby-blue-two), var(--pastel-blue));
            color: var(--periwinkle);
            margin-left: scale(-10px);
            padding: scale(8px) 25px;
            width: calc(100% + calc(2 * #{scale(10px)}));
        }
    }
    &-select{
        position: relative;
        // margin-bottom: 10px;
        .btn{
            font-size:getRemSize(8px);
            width: 100%;
        }
        ul{
            @extend .btn-2;
            padding: 10px 0;
            margin: 0;
            position: absolute;
            max-width: 250px;
            width: auto;
            height: auto;
            top: calc(100% + 10px);
            left: 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: flex-start;
            z-index: 9999;
            overflow: auto;
            &[hidden]{
                display: none;
            }
            .btn{
                width: 100%;
                padding: 0 14px;
                height: 30px;
                min-height: 0;
            }
        }
        li{
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0 14px;
            &:not(:last-child){
                margin-bottom: 10px;
            }
            &[value]{
                padding-top: 5px;
                padding-bottom: 5px;
                .text{
                    width: calc(100% - 40px);
                    text-overflow: ellipsis;
                    display: block;
                    overflow: hidden;
                }
                &:hover{
                    background-color: var(--white-three);
                }
            }
        }
        .select{
            display: flex;
            align-items: center;
            width: 100%;
            .text{
                width: calc(100% - 50px);
                text-overflow: ellipsis;
                display: block;
                overflow: hidden;
            }
            svg{
                width: 13px;
                margin-left: auto;
            }
        }
        .iconHost{
            width: 35px;
            height:35px;
            border-radius: 100%;
            // border: solid 0.5px var(--white-seventeen);
            margin-right: 13px;
            object-fit: contain;
        }
        .noFound{
            display: block;
            text-align: center;
            margin: 10px 0;
        }
        .search{
            position: relative;
            width: 100%;
            svg{
                width: 16px;
                position: absolute;
                top: 0;
                left: 15px;
                bottom: 0;
                margin: auto;
                color: var(--greyish-two);
            }
            input{
                height: 30px;
                font-size: 14px;
                width: 100%;
                padding-left: scale(30px);
            }
        }
    }
    &.businessFacebook{
        width: auto;
        height: auto;
        min-height: auto;
        padding: 5px 10px;
        font-size: 1rem;
        border-radius: 5px;
        text-transform: none;
        background: var(--bg-fb);
    }
    &Export{
        display: flex;
        align-items: center;
        position: relative;
        button{
            font-size: getRemSize(12px);
            text-decoration: none;
            width: auto;
            height: auto;
            padding: 0;
            min-height: 0;
            text-transform: capitalize;
            background: transparent;
            color: var(--brownish-grey);
            svg{
                width: getRemSize(16px);
                margin-right: 5px;
            }
        }
        .listExport{
            position: absolute;
            top: 100%;
            left: 0;
            background-color: var(--white);
            box-shadow: 0 3px 6px var(--black-16);
            padding: 15px 10px;
            min-width: 200px;
            border-radius: 10px;
            z-index: 99999;
            .optionExport{
                color: var(--warm-grey-six);
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 5px 0;
                img{
                    margin-right: 5px;
                }
                &:not(:last-child){
                    border-bottom: 1px solid var(--black-16);
                }
            }
        }
    }
}

.before{
    @extend .font;
    font-size: getRemSize(18px);
    font-weight: 500;
    line-height: 1.44;
    letter-spacing: 0.72px;
    color: var(--pastel-blue-two);
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 30px;
    svg{
        width: scale(23px);
        margin-right: 12px;
    }
}
.btn-delete-site{
    .btnModal{
        font-size: getRemSize(10px);
        color: var(--peachy-pink);
        display: inline-flex;
        align-items: center;
        justify-content: right;
        cursor: pointer;
        font-weight: 400;
        text-transform: initial;
        img{
            width: 14px;
            margin-right: 10px;
        }
    }
}
.connectFacebook{
    font-size: 1.5rem;
    .conectada{
        color: var(--greyish-three);
        font-size: 1.2rem;
        &::after{
            content: "";
            display: inline-block;
            width: .7rem;
            height: .7rem;
            background-color: var(--green);
            border-radius: 100%;
            margin-left: 5px;
        }
    }
    .deconectar{
        color:var(--peachy-pink);
        cursor: pointer;
        font-size: 1.2rem;
    }
}
.verifit-delete{
    padding: 20px;
    width: 600px;
    max-width: 100%;
    text-align: center;
    .content-button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            max-width: 40%;
            min-height: 40px;
            &.delete{
                background: var(--peachy-pink);
            }
        }
    }
}