.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-16);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 25px 15px;
    z-index: 9999999999;
    &:not(.open){
        display: none;
    }
    .bgModal{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &-body{
        position: relative;
        background-color: var(--white);
        padding: 10px;
        border-radius: 10px;
    }
    &-close{
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--white);
        border-radius: 100%;
        right: 5px;
        bottom: calc(100% + 2.5px);
        position: absolute;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            width: 15px;
        }
    }
}
.btnModal{
    margin: auto;
    height: 25px;
    min-height: 0;
    background: var(--white);
    color: var(--greyish-two);
    border-radius: 10px;
    padding: 0 3px;
    font-size: 13px;
    max-width: 100%;
    min-width: 0;
}