.page404{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height:100vh;
    .icon{
        width:180px;
        margin:auto;
        margin-bottom:20px
    }
    .content404{
        width:600px;
        max-width:100%;
        margin: auto;
        margin-top:20px;
        text-align:center;
        width: scale(257px);
        margin-bottom: 40px;
    }
    .contentFooter{
        margin-top:auto;
        width:100%;
    }
    .btn{
        margin:20px auto
    }
    .text{
        @extend .font;
        font-size: getRemSize(9.5px);
        font-weight: 300;
        line-height: 1.42;
        letter-spacing: 0.38px;
        color: var(--warm-grey-two);
        strong{
            font-weight: bold;
            color: var(--black-five);
        }
    }
    .p{
        @extend .font;
        font-size: getRemSize(15.5px);
        font-weight: bold;
        line-height: 0.97;
        letter-spacing: 0.62px;
        text-align: center;
        color: var(--greyish-brown-four);
        margin-bottom: scale(30px);
    }
}