.page-leads{
    .titleP{
        font-size: getRemSize(35px);
        font-weight: 900;
    }
    .id{
        @extend .font;
        font-size: getRemSize(14px);
        line-height: 1.42;
        letter-spacing: 0.38px;
        color: var(--pinkish-grey-three);
        margin-bottom: 25px;
    }
}