.page-recover_password{
    .content-recover_password{
        min-height: 100vh;
    }
    .inputRecoverPassword{
        background-color: var(--white);
        margin-bottom: 20px;
    }
    .btn{
        width: 100%;
    }
}